@import "../../../styles/variables.css";

.store {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.store .title {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 500;
}


.store .content-container {
  position: relative;
  display: flex;
  justify-items: center;
  width: 100%;
  height: calc(100% - 45px);
}
.store .content-container .ordinary-box{
  display: none;
}

.store .content-container .auction-box{
  display: none;
}