.scrollEventContant {
  margin: 0;
  padding: 0;
  width: '50%';
  height: 690px;
  /* max-height: 100%; */
  overflow: auto;
  font-family: sans-serif;
  text-align: center;
}
  
  .ListItem {
    height: 300px;
    width:'80%';
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Loading {
    height: 60px;
  }
  
 .music-card.playing {
    background-color: var(--box1-color);
}
