:root {
  --layout-bg-color: #eaeaea;
}

.ordinary-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 90%;
  height: 70%;
  background-color: var(--layout-bg-color);
}

.ordinary-container .image-box {
  position: absolute;
  top: -100px;
  left: 100px;
  background-color: var(--primary-color);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 30;
}

.ordinary-container .image-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 100%;
  min-height: 100%;
}

.ordinary-container .left-box {
  position: absolute;
  top: 200px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 50px;
  width: 500px;
  height: calc(100% - 200px);
}

.ordinary-container .left-box div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  background-color: #d8d8d8;
}

.ordinary-container .left-box .title-box :is(h1, h2) {
  display: inline-block;
}

.ordinary-container .left-box h1 {
  font-size: 24px;
  font-weight: 600;
}

.ordinary-container .left-box h2 {
  color: var(--black-light-color);
  font-size: 18px;
  font-weight: 600;
}

.ordinary-container .left-box .audio-box {
  background-color: transparent;
  border: none;
  padding: 0;
}
.ordinary-container .left-box .audio-box audio {
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}