.mynftlist {
  width: 100%;
  height: 100%;
}

.mynftlist .item-card-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.mynftlist .item-card-container h2{
  color: var(--black-light-color);
  font-size: 18px;
}
.mynftlist .item-card-container h1{
  color: #000;
  font-size: 24px;
}

.mynftlist .item-card-container .item-card {
  position: relative;
  margin: 15px;
  width: 330px;
  height: 320px;
  transition: var(--tran-02);
}

.mynftlist .item-card-container .item-card .img-box{
  position: relative;
  width: 50%;
  height: 50%;
  border: 5px solid var(--content-bg-color1);
  background-color: var(--content-bg-color1);
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.mynftlist .item-card-container .item-card:hover .img-box {
  border: 5px solid var(--primary-color);
}
.mynftlist .item-card-container .item-card:hover .content-wrap {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
.mynftlist .item-card-container .item-card:active .content-wrap {
  transform: rotateX(-10deg);
}

.mynftlist .item-card-container .item-card .img-box img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.mynftlist .item-card-container .item-card .content-wrap {
  position: absolute;
  background-color: var(--content-bg-color1);
  width: 100%;
  height: 80%;
  top: 20%;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 10px;
}

.mynftlist .item-card-container .item-card .content-wrap .color-box{
  background-color: var(--third-color);
  width: 100%;
  height: 42%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.mynftlist .item-card-container .item-card .content-wrap .content-box {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding-top: 5px;
  width: 100%;
  height: 33%;
}

.mynftlist .item-card-container .item-card .content-wrap .content-box > div{
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.mynftlist .item-card-container .item-card .content-wrap .audio-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
}

.mynftlist .item-card-container .item-card .content-wrap .audio-box audio::-webkit-media-controls-panel {
  background-color: var(--box1-color);
}