.store {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.store .item-card {
  position: relative;
  margin: 15px;
  width: 280px;
  height: 320px;
  transition: var(--tran-02);
}

.store .item-card .img-box{
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.store .item-card:hover .content-wrap {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transition: var(--tran-10);
}

.store .item-card .img-box img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.store .item-card .content-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  top: 20%;
  border-radius: 10px;
  overflow: hidden;
  transition: var(--tran-05);
}

.store .item-card .content-wrap .color-box{
  width: 100%;
  height: 42%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.store .item-card .content-wrap .info-wrap{
  width: 100%;
  height: 58%;
  text-align: center;
}

.store .item-card .content-wrap .first-box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 15px 10px;
  width: 100%;
  height: 50%;
}

.store .item-card .content-wrap .first-box > div{
  width: 50%;
}

.store .item-card .content-wrap .second-box {
  padding: 15px 10px;
  height: 50%;
}

.store .item-card .content-wrap .second-box > div{
  width: 50%;
}
