.sub {
  margin-top: 40px;

  text-align: center;
}
.sub-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sub-box .sub-card {
  opacity: 0.5;
  height: 300px;
  width: 200px;
  background-color: white;
  /* box-shadow: rgba(black, 0.66) 0 30px 60px 0; */
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 20px;
  text-align: center;
  margin: 30px;
}
