@import "../../../../styles/variables.css";

.sub {
  margin-top: 20px;
  width: 100%;
  color: var(--text-color);
  text-align: center;
}

.sub-layout {
  width: 100%;
}

.sub-layout .sub-box {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--text-color);
}
.sub-layout .sub-box .sub-card {
  height: 300px;
  width: 200px;
  background-color: var(--box1-color);
  color: var(--text-color);

  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 20px;
  text-align: center;
  margin: 30px;
}
