.top-nav {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--alltime-white);
  padding: 10px 0;
}

.top-nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
}

.top-nav .nav-links li {
  position: relative;
}

.top-nav .nav-links li :is(i, .link-name) {
  color: var(--black-light-color);
  transition: var(--tran-03);
}

.top-nav .nav-links a:hover :is(i, .link-name) {
  color: var(--primary-color);
}

.top-nav .nav-links li.active :is(i, .link-name) {
  color: var(--primary-color);
}
