.user-card {
  display: flex;
  width: 100%;
  height: 330px;
  padding-left: 30px;
  align-items: center;
}

.user-card .user-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-left: 30px;
  justify-content: center;
}

.user-card .user-info .setting-btn {
  bottom: 0;
  position: flex;
  width: 100px;
}

.user-card .user-image {
  width: 200px;
  height: 200px;
  margin-left: 10px;
  border-radius: 50%;
}

.user-card .user-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--black-light-color);
  padding: 10px 0;

  border-bottom: 1px solid var(--border-color);
}

.user-nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
}

.user-nav .nav-links li {
  position: relative;
}

.user-nav .nav-links li :is(i, .link-name) {
  color: var(--black-light-color);
  transition: var(--tran-03);
}

.user-nav .nav-links a:hover :is(i, .link-name) {
  color: var(--primary-color);
}

.user-nav .nav-links li.active :is(i, .link-name) {
  color: var(--primary-color);
}
