.create-mainlayout {
  margin: 0px 100px 0px 100px;
  padding: 20px;
  height: 680px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 10px;
}

.create-title {
  text-align: center;
}
.create-layout {
  justify-content: center;

  display: flex;
}

.create-btn {
  text-align: center;
}

.create-layout .create-box {
  justify-content: center;
}

.create-mainlayout .create-title {
  display: flex;
  justify-content: center;
}

.create-mainlayout .create-title i {
  height: 35px;
  width: 35px;
  background-color: var(--secondary-icon);
  border-radius: 6px;
  display: flex;
  color: var(--title-icon-color);
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.create-mainlayout .create-title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}

.create-layout .create-imgbox {
  border-right: 2px solid var(--border-color);
  text-align: center;
  margin-top: 40px;
  width: 100%;
  height: 500px;
}

.create-layout .create-imgbox img {
  text-align: center;
  border-radius: 50%;
  object-fit: cover;
  height: 420px;
  width: 420px;
  left: 0;
  margin-top: 20px;
  animation: rotate 8s linear infinite;
}

.create-layout .create-imgbox .create-img-upload-btn {
  margin: 18px;
}

.create-layout .creae-inputbox {
  text-align: center;
  margin-top: 40px;
  width: 100%;
}
/* 
.create-mainlayout .create-layout .create-inputbox .checkbox-musicupload {
  background-color: white;
  color: var(--error-color);
} */
