@import "../../../styles/variables.css";

.createmain-page {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.createmain-page .createmain-nav {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--alltime-white);
  padding-bottom: 10px;
}

.createmain-page .createmain-nav .createmain-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1000px;
}

.createmain-page .createmain-nav .createmain-links li {
  position: relative;
}

/* 
.createmain-page .createmain-nav .createmain-links li :is(i, .createmain-link-name {
    font-size: 18px;
    color: var(--alltime-white);
    transition: var(--tran-03);
}     */
