.create-title {
  text-align: center;
}
.create-layout {
  display: flex;
  height: 500px;
}

.create-btn {
  text-align: center;
  margin-top: 40px;
}

.create-layout .create-box .create-title {
  margin-top: 40px;
}

.create-layout > .create-imgbox {
  border-right: 1px solid var(--border-color);
  text-align: center;
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

.create-layout .create-imgbox img {
  margin-top: 30px;

  grid-template-columns: 1fr 1fr;
  position: fixed;
  text-align: center;
  border-radius: 50%;
  object-fit: cover;
  height: 400px;
  width: 400px;
  left: 0;
  animation: rotate 8s linear infinite;
}

.create-layout .crete-box {
  height: 400px;

  margin-top: 40px;
  text-align: center;
  width: 100%;
}

/* .contentbox .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contentbox .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 15px);
  padding: 15px 20px;
  background-color: var(--box1-color);
  transition: var(--tran-05);
}

.contentbox .boxes .box i {
  font-size: 35px;
  color: var(--text-color);
}

.contentbox .boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.contentbox .boxes .box .number {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}

.contentbox .boxes .box.box1 {
  background-color: var(--box1-color);
}

.contentbox .boxes .box.box2 {
  background-color: var(--box2-color);
}

.contentbox .boxes .box.box3 {
  background-color: var(--box3-color);
}

@media (max-width: 780px) {
  .contentbox .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
}

@media (max-width: 560px) {
  .contentbox .boxes .box {
    width: 100%;
  }
} */
