.artistpage {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.artistpage .artistpage .artist-card {
  width: 300px;
  height: 690px;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  display: grid;
  /* margin-left: 0px; */
}

.artistpage .artist-card .artist-info {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  width: 250px;
}

.artistpage .artist-card .artist-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.artistpage .artist-card .artist-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.artistpage .artist-nav {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--alltime-white);
  padding: 10px 0;
}

.artistpage .artist-nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
}

.artistpage .artist-nav .nav-links li {
  position: relative;
}

.artistpage .artist-nav .nav-links li :is(i, .link-name) {
  color: var(--alltime-white);
  font-size: 18px;
  transition: var(--tran-03);
}

.artist-nav .nav-links a:hover :is(i, .link-name) {
  color: var(--primary-color);
}

.artist-nav .nav-links li.active :is(i, .link-name) {
  color: var(--primary-color);
}
