@import "../../styles/variables.css";

.main {
  position: fixed;
  top: 0;
  right: 0;
  left: 220px;
  padding: 10px 30px 10px 30px;
  width: 100%;
  /* width: calc(100% - 220px); */
  min-height: 100vh;
  /* transition: var(--tran-05); */
  width: calc(100% - 220px);
}

nav.close ~ .main {
  width: var(100% - 73px);
  left: 73px;
}

.main .main-content {
  position: absolute;
  width: 100%;
  /* height: calc(100% - 65px - 100px); */
  top: 65px;
  left: 0px;
  padding: 15px 15px 15px 15px;
}
