.footer {
  position: absolute;
  z-index: 1;
  align-items: center;
  bottom: 0;
  padding: 0 6vw;

  // opacity: 0.5; 투명도

  // background: rgba(0, 0, 0, 0.5);
}
.contents {
  max-width: auto;
  height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  // margin: 0 auto;
}

.title {
  // font-weight: 600;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  padding: 0 3vw;
}
