.minting-layout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.minting-layout h1 {
  color: #000;
}
.minting-layout :is(h2, i, input) {
  color: var(--black-light-color);
}
.minting-layout p {
  color: var(--black-light-color);
}

.minting-layout .minting-container {
  width: 85%;
  border-radius: 15px;
  background-color: var(--box1-color);
  height: 650px;
  padding: 30px;
}

.minting-layout .minting-container .minting-title {
  display: flex;
  justify-content: center;
}

.minting-layout .minting-container .minting-title .minitng-imgcover {
  font-size: 30px;
}

.minting-layout .minting-title i {
  height: 40px;
  width: 40px;
  background-color: var(--secondary-icon);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.minting-layout .minting-title {
  font-size: 35px;
  font-weight: 600;
  color: var(--text-color);
  height: 10%;
  align-items: center;
}

.minting-layout .mintig-content-wrap {
  display: flex;
  height: 90%;
}

.minting-layout .mintig-content-wrap > section {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.minting-layout .mintig-content-wrap .left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 2px solid var(--border-color);
}

.minting-layout .mintig-content-wrap .left-container .img-box {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.minting-layout .mintig-content-wrap .left-container .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.minting-layout .mintig-content-wrap .left-container .img-title-box {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.minting-layout .mintig-content-wrap .right-container {
  display: flex;
  flex-direction: column;
}

.minting-layout .mintig-content-wrap .right-container h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.minting-layout .mintig-content-wrap .right-container h1 {
  font-size: 30px;
  font-weight: 600;
}

.minting-layout .mintig-content-wrap .right-container .content-box {
  height: 70px;
  margin-bottom: 20px;
}

.minting-layout .mintig-content-wrap .right-container .description-box {
  height: 200px;
}

.minting-layout .mintig-content-wrap .right-container .description-box p {
  height: 150px;
  font-size: 16px;
  font-weight: 600;
  overflow: auto;
  word-break: break-all;
  white-space: normal;
}

.minting-layout
  .minting-container
  .mintig-content-wrap
  .right-container
  .content-box-warning {
  width: 100%;
  padding: 5px;
  background-color: var(--warning-color);
  border-radius: 10px;
  text-align: center;
}

.minting-layout .mintig-content-wrap .right-container .minting-btn {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.minting-layout .mintig-content-wrap .right-container .minting-btn1 {
  margin-right: 5px;
  width: 100%;
}

.minting-layout .mintig-content-wrap .right-container .minting-btn2 {
  margin-left: 5px;
  width: 100%;
}
