.scrollEventContant {
  margin-top: 20px;
}

.scrollEventContant .scroll-title {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.scrollEventContant .scroll-title :nth-child(1){
  margin: 0;
}
.scrollEventContant .scroll-title :nth-child(2){
  margin-left: 0;
}
.scrollEventContant .scroll-title :nth-child(3){
  margin-left: 8%;
}
.scrollEventContant .scroll-title :nth-child(4){
  margin-left: 12%;
}
.scrollEventContant .scroll-title :nth-child(5){
  margin-left: 12%;
}
.scrollEventContant .scroll-title :nth-child(6){
  margin-left: 16%;
}
.scrollEventContant .scroll-title :nth-child(7){
  margin: 0;
}
.scrollEventContant .scroll-title :nth-child(8){
  margin: 0;
}

.scrollEventContant .scroll-title span {
  font-size: 20px;
  font-weight: bold;
}

.scrollEventContant .scrollBox{
  max-height: 680px;
  overflow: auto;
}
.scrollEventContant .scrollBox ::-webkit-scrollbar {
  width: 3px;
}

.scrollEventContant .scrollBox::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.scrollEventContant .scrollBox::-webkit-scrollbar-track {
  background-color: var(--box1-color);
  border-radius: 10px;
}

.scrollEventContant .scrollBox .ListItem {
  height: 600px;
  width: "80%";
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Loading {
  height: 60px;
}

.music-card.playing {
  background-color: var(--box1-color);
}
