.contentbox {
  margin-bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentbox .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding-bottom: 20px; */
}

.contentbox .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: calc(100% / 2 - 10px);
  padding: 2px;
  background-color: var(--box1-color);
  transition: var(--tran-05);
}

.contentbox .boxes .box i {
  font-size: 35px;
}

.contentbox .boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.contentbox .boxes .box .number {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}

.contentbox .boxes .box.box1 {
  background-color: var(--box1-color);
}

.contentbox .boxes .box.box2 {
  background-color: var(--box2-color);
}

.contentbox .boxes .box.box3 {
  background-color: var(--box3-color);
}
