@import "../../../styles/variables.css";

.main .searchbar {
  position: fixed;
  height: 65px;
  top: 0;
  left: var(250px);
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  z-index: 10;
}

nav.side-nav.close ~ .main .searchbar {
  left: 73px;
  width: calc(100% - 73px);
}

.searchbar .sidebar-toggle {
  font-size: 26px;
  color: white;
  cursor: pointer;
}

.searchbar .search-box {
  position: relative;
  height: 45px;
  max-width: 38vw;
  width: 100%;
  margin: 0 30px;
}

.searchbar .search-box .uil-search {
  color: white;
}
.searchbar .search-box ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

.address-appear {
  font-size: 20px;
  color: white;
  margin-right: 15px;
}

.searchbar .search-box input {
  position: absolute;
  border: 2px solid;
  border-radius: 5px;
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 15px;
  font-weight: 400;
  outline: none;
}

.searchbar .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}

.searchbar .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-info {
  display: flex;
}

.user-info .searchbar-address p {
  color: white;
  display: flex;
}
