.container {
  height: 320px;
  margin: -160px auto 0;
  padding: 0;
  position: relative;
  top: 50%;
  width: 500px;
}

.tracks {
  height: 45px;
  padding: 30px 0;
  text-align: center;
}
.tracks .title {
  margin-bottom: 5px;
}
.tracks .title:before,
.tracks .title:after {
  content: " - ";
}
.tracks .track {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59639/buff-jambox.png")
    no-repeat -360px -450px;
  cursor: pointer;
  display: inline-block;
  height: 65px;
  margin: 0 0 30px;
  width: 100px;
  transform: scale(0.8);
  transition: transform 0.2s ease-out;
}
.tracks .track:nth-child(2) {
  background-position: -360px -525px;
}
.tracks .track:nth-child(3) {
  background-position: -360px -600px;
}
.tracks .track:hover {
  transform: scale(1);
}
.tracks .track:active {
  transform: scale(0.95);
  transition: none;
}

.buff-jambox {
  height: 229px;
  margin: 0 auto;
  position: relative;
  width: 342px;
}
.buff-jambox .jambox {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59639/buff-jambox.png")
    no-repeat 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.buff-jambox .speaker {
  background-image: inherit;
  position: absolute;
}
.buff-jambox .speaker.top-left {
  background-position: -360px 0;
  height: 47px;
  left: 8px;
  top: 44px;
  width: 47px;
}
.buff-jambox .speaker.top-right {
  background-position: -360px -70px;
  height: 47px;
  left: 280px;
  top: 43px;
  width: 47px;
}
.buff-jambox .speaker.bottom-left {
  background-position: -360px -140px;
  height: 108px;
  left: 8px;
  top: 102px;
  width: 108px;
}
.buff-jambox .speaker.bottom-right {
  background-position: -360px -270px;
  height: 107px;
  left: 221px;
  top: 102px;
  width: 107px;
}
.buff-jambox .arms {
  left: 5px;
  position: absolute;
  top: 80px;
  width: 325px;
  z-index: 1;
}
.buff-jambox .arm {
  height: 87px;
  position: absolute;
  width: 120px;
}
.buff-jambox .arm.left-arm {
  right: 100%;
  -webkit-animation: flex-left 1.5s ease-in-out 0s infinite alternate;
  animation: flex-left 1.5s ease-in-out 0s infinite alternate;
  transform-origin: 120px 71px;
}
.buff-jambox .arm.right-arm {
  left: 100%;
  transform-origin: 0 71px;
  -webkit-animation: flex-right 2s ease-in-out 0s infinite alternate;
  animation: flex-right 2s ease-in-out 0s infinite alternate;
}
.buff-jambox .bicep {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59639/buff-jambox.png")
    no-repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.buff-jambox .bicep.left-bicep {
  background-position: -475px -165px;
}
.buff-jambox .bicep.right-bicep {
  background-position: -600px -165px;
}
.buff-jambox .forearm {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59639/buff-jambox.png")
    no-repeat;
  bottom: 22px;
  height: 161px;
  position: absolute;
  width: 106px;
  z-index: 1;
}
.buff-jambox .forearm.left-forearm {
  background-position: -475px 0;
  left: 0;
  transform-origin: 0 100%;
  -webkit-animation: flex-left 2s ease-in-out 0s infinite alternate;
  animation: flex-left 2s ease-in-out 0s infinite alternate;
}
.buff-jambox .forearm.right-forearm {
  background-position: -585px 0;
  right: 0;
  transform-origin: 100% 100%;
  -webkit-animation: flex-right 1.5s ease-in-out 0s infinite alternate;
  animation: flex-right 1.5s ease-in-out 0s infinite alternate;
}
.buff-jambox.playing .jambox {
  background-position: 0 -462px;
}
.buff-jambox.playing .speaker {
  -webkit-animation: bump-it 0.25s ease-in-out 0s infinite alternate;
  animation: bump-it 0.25s ease-in-out 0s infinite alternate;
}
.buff-jambox.playing .left-arm {
  -webkit-animation: pump-left 0.25s ease-in-out 0s infinite alternate;
  animation: pump-left 0.25s ease-in-out 0s infinite alternate;
}
.buff-jambox.playing .right-arm {
  -webkit-animation: pump-right 0.25s ease-in-out 0s infinite alternate;
  animation: pump-right 0.25s ease-in-out 0s infinite alternate;
}
.buff-jambox[data-genre="metal"] .left-arm,
.buff-jambox[data-genre="metal"] .right-arm {
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}
.buff-jambox[data-genre="metal"] .forearm.left-forearm {
  background-position: -695px 0;
}
.buff-jambox[data-genre="metal"] .forearm.right-forearm {
  background-position: -805px 0;
  height: 301px;
  right: -23px;
  width: 470px;
}
.buff-jambox[data-genre="rock"] .bicep.left-bicep {
  background-position: -475px -260px;
}
.buff-jambox[data-genre="rock"] .bicep.right-bicep {
  background-position: -600px -260px;
}
.buff-jambox[data-genre="soul"] .left-arm,
.buff-jambox[data-genre="soul"] .right-arm {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.buff-jambox[data-genre="soul"] .bicep.left-bicep {
  background-position: -475px -350px;
  height: 97px;
  width: 123px;
}
.buff-jambox[data-genre="soul"] .bicep.right-bicep {
  background-position: -602px -350px;
  height: 97px;
  width: 123px;
}
.buff-jambox[data-genre="soul"] .forearm.left-forearm {
  background-position: -745px -305px;
  bottom: 18px;
  height: 170px;
  left: -2px;
  width: 142px;
}
.buff-jambox[data-genre="soul"] .forearm.right-forearm {
  background-position: -905px -305px;
  bottom: 19px;
  height: 165px;
  right: -4px;
  width: 112px;
}

@-webkit-keyframes bump-it {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes bump-it {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@-webkit-keyframes flex-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(4deg);
  }
}
@keyframes flex-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(4deg);
  }
}
@-webkit-keyframes flex-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes flex-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@-webkit-keyframes pump-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
@keyframes pump-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
@-webkit-keyframes pump-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@keyframes pump-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
