@import "../../../../styles/variables.css";

/* .userinfo-layout {
} */

.userinfo-layout .userinfo-card {
  margin-top: 10px;
  width: 400px;
  height: 900px;
  border-radius: 10px;
  background-color: var(--box1-color);
  margin: auto;
}

.userinfo-layout .userinfo-card .userinfo-image {
  display: flex;
  justify-content: center;
}
