@import "../../../../styles/variables.css";

.userinfo-layout {
  margin-top: 15px;
}

.userinfo-layout .userinfo-card {
  width: 400px;
  height: 900px;
  border-radius: 10px;
  background-color: var(--box2-color);
  margin: auto;
}

.userinfo-layout .userinfo-card .userinfo-image {
  display: flex;
  justify-content: center;
}
