:root {
  /* ===== Colors ===== */
  --primary-color: rgb(241, 185, 112);
  --secondary-color: rgb(85, 81, 164);
  --secondary-icon: rgb(115, 113, 161);
  --third-color: #616186;
  --panel-color: linear-gradient(
    60deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  --text-color: #000;
  --black-light-color: #333;
  --alltime-white: white;
  --border-color: #e6e5e5;
  --toggle-color: rgb(117, 113, 113);
  --box1-color: rgba(255, 255, 255, 0.5);
  --mode-switch-color: #fff;
  --title-icon-color: #fff;
  --playbar-base-color: rgb(117, 113, 113);
  --error-color: #eb6f6f;
  --warning-color: #e5d489;
  --content-bg-color1: #eaeaea;
  --content-bg-color2: #d8d8d8;
  --content-bg-color3: #c1c1c1;
  --select-color: rgb(241, 185, 112);

  /* ====== Transition ====== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  --tran-10: all 1s ease;
}

body.dark {
  /* ===== Dark Colors ===== */
  --alltime-white: white;
  --primary-color: #eee;
  --secondary-color: rgb(85, 81, 164);
  --third-color: #616186;
  --panel-color: #252626;
  --text-color: rgb(255, 255, 255);
  --black-light-color: #333;
  --border-color: #4d4c4c;
  --toggle-color: rgb(173, 173, 173);
  --box1-color: rgba(255, 255, 255, 0.5);
  --mode-switch-color: #252626;
  --title-icon-color: #252626;
  --playbar-base-color: rgb(117, 113, 113);
  --error-color: #eb6f6f;
  --warning-color: #e5d489;
  --content-bg-color1: #eaeaea;
  --content-bg-color2: #d8d8d8;
  --content-bg-color3: #c1c1c1;
  --select-color: rgb(241, 185, 112);
}
