:root {
  /* ===== Colors ===== */
  --primary-color: rgb(241, 164, 63);
  --secondary-color: rgb(241, 164, 63);
  --panel-color: linear-gradient(
    60deg,
    rgb(250, 180, 89) 0%,
    rgb(28, 26, 65) 100%
  );
  --text-color: #000;
  --black-light-color: rgb(0, 0, 0);
  --border-color: #e6e5e5;
  --toggle-color: rgb(117, 113, 113);
  --box1-color: rgba(255, 255, 255, 0.5);
  --box2-color: rgba(255, 255, 255, 0.5);
  --box3-color: rgba(255, 255, 255, 0.5);
  --nft-card-bg-color: rgba(255, 255, 255, 0.5);
  --nft-modal-bg-color: rgb(235, 235, 235);
  --mode-switch-color: #fff;
  --title-icon-color: #fff;
  --playbar-base-color: rgb(117, 113, 113);

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
}

body.dark {
  /* ===== Dark Colors ===== */
  --primary-color: rgb(241, 164, 63);
  --secondary-color: rgb(241, 164, 63);
  --panel-color: #252626;
  --text-color: rgb(255, 255, 255);
  --black-light-color: #ccc;
  --border-color: #4d4c4c;
  --toggle-color: rgb(173, 173, 173);
  --box1-color: rgba(255, 255, 255, 0.5);
  --box2-color: rgba(255, 255, 255, 0.5);
  --box3-color: rgba(255, 255, 255, 0.5);
  --nft-card-bg-color: rgba(255, 255, 255, 0.5);
  --nft-modal-bg-color: rgb(235, 235, 235);
  --mode-switch-color: #252626;
  --title-icon-color: #252626;
  --playbar-base-color: rgb(117, 113, 113);
}
